$primary: #ff4612;
$text-invert: white;
$normal-text: black;
$variant-black: rgba(0, 0, 0, 0.3);
$light-font: 'Source Sans Pro', sans-serif;
$hover: #ffffff;
$upcoming: #fafafa;
$dark-title: #181515;
$line-static: grey;